* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px 15px 50px;
    background-image: linear-gradient(to right, #A0B5EB , #C9F0E4);
    color: #fff;
   }

.navigationLinks a {
    color: #4799e9;
    font-weight: bold;
}
.logo {
    font-size: 32px;
    font-family: 'Sacramento', cursive;
}
.nav-menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
   .nav-menu li a:hover{
        color: #fff;
}
   .nav-menu li {
    padding: 5px 14px;
}

input[type=checkbox]{
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

h1{
    text-align: center;
    margin: 0 0 30px 0;
}
.faq-pretext{
    margin-bottom: 30px;
}

.faqtext{
    padding: 50px;
}

.faqtext p{
    margin-bottom: 20px;
}

.faqtext p span{
    font-weight: bold;
}


@media (max-width: 768px) {
    .navbar {
        padding: 15px
    }
    .nav-menu { 
        display:none;
        position: absolute;
        background-image: linear-gradient(to right, #A0B5EB , #C9F0E4);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .logo {
        font-size: 15px;
    }
    .nav-menu li + li {
        margin-top: 20px;
    }
    input[type=checkbox]:checked ~ .nav-menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
}