* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px 15px 50px;
    background-image: linear-gradient(to right, #A0B5EB , #C9F0E4);
    color: #fff;
   }

.navigationLinks a {
    color: #4799e9;
    font-weight: bold;
}
.logo {
    font-size: 32px;
    font-family: 'Sacramento', cursive;
}
.nav-menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
   .nav-menu li a:hover{
        color: #fff;
}
   .nav-menu li {
    padding: 5px 14px;
}

input[type=checkbox]{
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

#container {
    max-width: 300px;

    margin-top: 10vh;
}

.card {

    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    position: relative;
}

p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  

  button {
    font-family: 'lora', serif;
    background: linear-gradient(to right, #A0B5EB , #C9F0E4);
    color: #4799e9 !important; 
    font-weight: bold;
    width: 100%; 
    padding: 1.2vh; 
    border: none; 
    border-radius: 5px; 
    outline: none;
    cursor: pointer;
  }
  
  .card__details {
    padding: 16px 8px 8px 8px;
  }
  .name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
  }

.column {
    float: left;
    width: 25%;
    padding: 0 25px;
    margin-left: 65px;
    margin-top: 60px;
}



@media (max-width: 768px) {
    .navbar {
        padding: 15px
    }
    .nav-menu { 
        display:none;
        position: absolute;
        background-image: linear-gradient(to right, #A0B5EB , #C9F0E4);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .logo {
        font-size: 15px;
    }
    .nav-menu li + li {
        margin-top: 20px;
    }
    input[type=checkbox]:checked ~ .nav-menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
}